@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Display:regular,italic);

:root {
	--Light-San-Juan-Blue: #6c8294;
	--Dark-Pink: #ba4270;
	--Charm-Pink: #da6d97;
	--Link-Water-White: #fbfcfe;
	font-family: Public Sans;
	font-size: 15px;
	font-weight: 700;
	line-height: 17.63px;
}

h1 {
	font-family: DM Serif Display;
	font-weight: 400;
	font-size: 32px;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 1fr;
}

nav > ul {
	display: none;
}

.header-p2 > .BurgerKing {
	background-color: transparent;
	border: 0;
	display: unset;
}

.header-p2 > .Demo {
	display: none;
	border-radius: 1000px;
	background-color: var(--Dark-Pink);
	color: var(--white);
	border: 0;
	padding: 10px 15px 10px 15px;
}

.header-p2 > .Demo:hover {
	background-color: var(--Charm-Pink);
}

.header-p2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

nav {
	display: flex;
	align-items: center;
}

nav > ul > li {
	list-style-type: none;
}

nav > ul > li > a {
	color: var(--Light-San-Juan-Blue);
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

form > * {
	border-radius: 300px;
	border: 0;
	padding: 15px;
	width: 100%;
	margin-bottom: 15px;
}

form > input {
	box-shadow: 10px 10px 25px -10px #36536b40;
	background-color: var(--Link-Water-White);
}

form > button {
	background-color: var(--Dark-Pink);
	color: white;
}

.mainInfo > p,
a {
	text-decoration: none;
	color: var(--Light-San-Juan-Blue);
}

.mainInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	nav > ul {
		display: unset;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: 1fr;
	}

	.header-p2 > .Demo {
		display: unset;
	}

	.header-p2 > .BurgerKing {
		display: none;
	}

	main {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 1023px) {
	header {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-areas: 1fr;
	}
}
