.btn-primary-light {
	background-color: var(--Dark-Pink);
	color: var(--Link-Water-White);
	border-radius: 999px;
	border: none;
	padding: 5px 20px;
	box-shadow: 10px 10px 25px -10px #36536b40;
}

.btn-primary-light:hover {
	background-color: var(--Charm-Pink-Actives);
}

.btn-primary-light:disabled {
	opacity: 50%;
}

.btn-secondary-light {
	background-color: transparent;
	color: var(--Link-Water-White);
	border: var(--Link-Water-White) 1px solid;
}

.btn-secondary-light:hover {
	background-color: var(--Link-Water-White);
	color: transparent;
}

.btn-secondary-light:disabled {
	opacity: 50%;
}

.btn-secondary-dark {
	border: 1px solid var(--San-Juan-Blue);
	background-color: transparent;
	color: var(--San-Juan-Blue);
}

.btn-secondary-dark {
	background-color: var(--San-Juan-Blue);
	color: transparent;
}

.btn-secondary-dark:disabled {
	opacity: 50%;
}

