.btn-primary-light {
	background-color: var(--Dark-Pink);
	color: var(--Link-Water-White);
	border-radius: 999px;
	border: none;
	padding: 5px 20px;
	box-shadow: 10px 10px 25px -10px #36536b40;
}

.btn-primary-light:hover {
	background-color: var(--Charm-Pink-Actives);
}

.btn-primary-light:disabled {
	opacity: 50%;
}

.btn-secondary-light {
	background-color: transparent;

	border: 1px var(--Link-Water-White) solid;
	border-radius: 999px;
	padding: 5px 20px;
}

.btn-secondary-light:hover {
	background-color: var(--Link-Water-White);
}

.btn-secondary-light:hover > a {
	color: var(--Mirage-Blue);
}

.btn-secondary-light > a {
	color: var(--Link-Water-White);
}

.btn-secondary-light:disabled {
	opacity: 50%;
}

.btn-secondary-dark {
	color: var(--San-Juan-Blue);
	background-color: transparent;
	border: 1px var(--San-Juan-Blue) solid;
	border-radius: 999px;
	padding: 5px 20px;
}

.btn-secondary-dark:hover {
	background-color: var(--San-Juan-Blue);
	color: var(--Link-Water-White);
}

.btn-secondary-dark:disabled {
	opacity: 50%;
}
